/*洗心讲堂*/
.jiangtang1 {}
.jiangtang1 #zhaopian {
	width: 550px;
	height: 360px;
	overflow: hidden;
	position: relative;
	float: left;
}
.jiangtang1 #zhaopian ul { height: 360px; position: absolute;}
.jiangtang1 #zhaopian ul li {
	float: left;
	width: 550px;
	height: 360px;
	overflow: hidden;
	position: relative;
	background-color: #9B7C5E;
}

.jiangtang1 #zhaopian ul li div {position:absolute; overflow:hidden;}
.jiangtang1 #zhaopian .btnBg { position: absolute; width: 550px; height: 20px; left: 0; bottom: 0; background: #000; display: none;}
.jiangtang1 #zhaopian .btn {
	position: absolute;
	width: 530px;
	height: 10px;
	padding: 5px 10px;
	right: 0;
	bottom: 0;
	text-align: right;
	display: none;
}
.jiangtang1 #zhaopian .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
.jiangtang1 #zhaopian .btn span.on {background:#fff;}
.jiangtang1 #zhaopian .preNext { width: 45px; height: 360px; position: absolute; cursor: pointer; background-image: url(images/sprite.png); background-repeat: no-repeat;}
.jiangtang1 #zhaopian .pre { left: 0px; background-position: left 120px; }
.jiangtang1 #zhaopian .next { right: 0px; background-position: right 120px;}

.jiangtang1 .fyxc {
	float: right;
	height: 360px;
	width: 400px;
}
.jiangtang1 .fyxc .fayu {
	width: 398px;
	margin-bottom: 10px;
	height: 88px;
	background-image: url(images/kt_fy.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 10px;
	border: 1px solid #9B7C5E;
}
.jiangtang1 .fyxc .fayu p {
	text-indent: 2em;
	display: block;
	font-size: 12px;
	color: #5A3622;
	line-height: 16px;
	padding-top: 5px;
	padding-right: 86px;
	padding-left: 12px;
	height: 50px;
	overflow: auto;
}
.jiangtang1 .fyxc .fayu h4.link {
	height: 30px;
	display: block;
}
.jiangtang1 .fyxc .fayu h4.link a {
	height: 30px;
	width: 100%;
	display: block;
	text-indent: -999999px;
}

.jiangtang1 .fyxc .xingcheng {
	height: 248px;
}

.jiangtang2 .module {
	float: left;
	width: 230px;
	margin-right: 10px;
}
.jiangtang2 .shipin, .jiangtang2 .bowen, .jiangtang2 .shici, .jiangtang2 .lunwen {
	height: 250px;
}
.jiangtang2 .shipin {}
.jiangtang2 .bowen {}
.jiangtang2 .shici {}
.jiangtang2 .lunwen {
	margin-right: 0px;
}

.jiangtang3 {}
.jiangtang3 .zhuzuo {float: left;
	width: 473px;}
.jiangtang3 .miaoxing {float: right;
	width: 473px;}

.jiangtang4 {}
.jiangtang4 .zihua {
	float: left;
	width: 473px;
}
.jiangtang4 .heying {
	float: right;
	width: 473px;
}

/*洗心禅寺大栏目*/


/*列表内容框*/
/*模块框架*/
/* module */
.module, .websitemap {
	border: 1px solid #865946;
	background-color: #FFF;
}
.module h3.title { line-height: 35px; height: 35px; background-image: url(images/module_title_bg.png); background-repeat: repeat-x; background-position: -10px center; display: block; padding-right: 16px; padding-left: 40px; background-color: #9A7C5E;

	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #C9AD8B;}
.module h3.title a { color: #FFF; text-decoration: none; }
.module h3.title strong { font-size: 14px; font-weight: bold; display: block; float: left; color: #FFF;}
.module h3.title em { display: block; float: right; font-style: normal; text-decoration: none; font-size: 12px; font-weight: normal; }




/*洗心禅寺网站地图*/
.websitemap {
	background-image: url(images/websitemap_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 166px;
}
.websitemap h3 {
	background-image: url(images/websitemap_title.png);
	background-repeat: no-repeat;
	background-position: center 6px;
	text-indent: -9999em;
	height: 50px;
	padding-top: 10px;
}
.websitemap h3, .websitemap h4,.websitemap h4 a,.websitemap h4 a strong,.websitemap h4 a em, .websitemap ul, .websitemap ul li, .websitemap ul li a {	display: block;}
.websitemap h4 {
	background-color: #9B7C5E;
	margin-bottom: 2px;
}
.websitemap h4 a {
	height: 28px;
	color: #FFF;
	font-size: 16px;
	line-height: 28px;
}
.websitemap h4 a strong {
	float: left;
	width: 180px;
	text-indent: 6px;
}
.websitemap h4 a em {
	float: right;
	width: 30px;
	font-size: 24px;
	text-align: center;
}
.websitemap ul{
	background-color: #FBF5EA;
	width: 230px;
	margin-top: 4px;
	margin-right: auto;
	margin-bottom: 4px;
	margin-left: auto;
	padding-bottom: 2px;
}
.websitemap ul li {
	float: left;

}
.websitemap ul li a {
	font-size: 14px;
	line-height: 18px;
	text-indent: 12px;
	width: 115px;
	float: left;
}


/*法讯列表*/
ul.faxun  {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

}
ul.faxun  li {
	display: block;
	margin-bottom: 20px;
	border: 1px solid #D8AC5B;
	padding-bottom: 6px;
	background-image: url(images/faxunbg.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin-top: 10px;
}
ul.faxun  li .faxun-news {
	text-indent: 2em;
	font-size: 20px;
	line-height: 32px;
	padding: 20px;
}
ul.faxun  li .faxun-time {
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	padding-right: 6px;
	padding-left: 10px;
	background-image: url(images/fanxuntime.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
	color: #FFF;
}


/*图文列表*/
ul.imglist {
	background-color: #ECE4D7;
	padding-top: 20px;
	margin-bottom: 8px;
}
ul.imglist li, ul.imglist a, ul.imglist img, ul.imglist strong {display: block;}
ul.imglist li {
	float: left;
	padding-top: 10px;
	padding-bottom: 25px;
	padding-left: 20px;
	margin: 0px;
}
ul.imglist a {
	float: left;
	background-color: #FFF;
	padding: 8px;
	border: 1px solid #F8EDD8;
}
ul.imglist img {
	height: 90px;
	width: 150px;
}
ul.imglist strong {
	text-align: justify;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	width: 150px;
	height: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/*视频列表*/
ul.videolistlist {
	background-color: #FDFCF7;
	padding-top: 20px;
	margin-bottom: 8px;
	padding-left: 6px;
}
ul.videolist li, ul.videolist a, ul.videolist img, ul.videolist strong, ul.videolist em {display: block;}
ul.videolist li {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
	padding-left: 20px;
	margin: 0px;
}
ul.videolist a {
	float: left;
	position: relative;
}
ul.videolist img {
	height: 120px;
	width: 180px;
	background-color: #FFF;
	padding: 8px;
	border: 1px solid #F2E4CA;
	background-image: url(images/faxunbg.jpg);
	background-position: right center;
}
ul.videolist strong {
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	text-align: center;
}
ul.videolist em {
	position: absolute;
	left: 18px;
	background-image: url(images/video.png);
	background-position: center center;
	height: 50px;
	width: 50px;
	z-index: 5;
	top: 68px;
}

/*自适应无序列表*/
ul.wzlb {margin-top: 9px;}
ul.wzlb li {display: block; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #F6EEE3; height: 33px; line-height: 33px; z-index: 3;}
ul.wzlb li a{overflow: hidden; display: block; font-size: 14px; background-image: url(images/list.gif); background-repeat: no-repeat; background-position: 10px center; padding-left: 20px; margin: 0px; padding-top: 0px; padding-bottom: 0px; position: relative; height: 33px; z-index: 1;}
ul.wzlb li a em {font-size: 12px; position: absolute; right: 8px; top: 0px; bottom: 0px; font-style: normal; font-weight: normal; color: #9B7C5E; background-color: #fff;}

/*单行图文*/
ul.dhtw {
	margin-top: 10px;
	margin-left: 30px;
	margin-bottom: 10px;
}
ul.dhtw li, ul.dhtw a, ul.dhtw img, ul.dhtw strong {display: block;}
ul.dhtw li {
	float: left;
	background-color: #FEF4E8;
	margin-top: 0px;
	margin-right: 24px;
	margin-bottom: 10px;
	padding: 5px;
}
ul.dhtw a { float: left; }
ul.dhtw img {
	height: 170px;
	width: 120px;
}
ul.dhtw strong {
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
}


/*一栏图文*/
ul.yltw {
	margin-top: 10px;
	margin-left: 14px;
	margin-bottom: 10px;
}
ul.yltw li, ul.yltw a, ul.yltw img, ul.yltw strong {display: block;}
ul.yltw li {
	float: left;
	padding-top: 0px;
	padding-right: 8px;
	padding-bottom: 10px;
	padding-left: 8px;
}
ul.yltw a { float: left; }
ul.yltw img {
	height: 140px;
	width: 170px;
}
ul.yltw strong {
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	overflow: hidden;
	height: 28px;
	width: 170px;
}

/*二栏图文700*/
ul.tw700 {margin-top: 10px; margin-left: 10px; margin-bottom: 10px;}
ul.tw700 li, ul.tw700 a, ul.tw700 img, ul.tw700 strong {display: block;}
ul.tw700 li { float: left; padding-top: 0px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;}
ul.tw700 a { float: left; }
ul.tw700 img {
	height: 130px;
	width: 150px;
}
ul.tw700 strong {
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	overflow: hidden;
	height: 28px;
	width: 150px;
}


/*二栏图文475*/
ul.tw475 {margin-top: 10px; margin-left: 10px; margin-bottom: 10px;}
ul.tw475 li, ul.tw475 a, ul.tw475 img, ul.tw475 strong {display: block;}
ul.tw475 li {
	float: left;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
ul.tw475 a { float: left; }
ul.tw475 img {
	height: 85px;
	width: 130px;
}
ul.tw475 strong {
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	height: 28px;
	width: 130px;
	overflow: hidden;
}

/*二栏图文232*/
ul.tw232 {
	margin-left: 10px;
}
ul.tw232 li, ul.tw232 a, ul.tw232 img, ul.tw232 strong {display: block;}
ul.tw232 li {
	float: left;
	padding-right: 10px;
	padding-top: 20px;
	
}
ul.tw232 a {
	float: left;
	display: block;
	background-repeat: no-repeat;
}
ul.tw232 img {
	height: 60px;
	width: 100px;
}
ul.tw232 strong {
	text-align: center;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	height: 22px;
	width: 100px;
	overflow: hidden;
}

/*洗心禅寺*/
.chansi1 {height: 370px;}
.chansi1 .jianjie { float: left; width: 300px; height: 360px;}
.chansi1 .jianjie p {font-size: 18px; line-height: 28px; padding-top: 10px; padding-right: 12px; padding-left: 12px;}
.chansi1 #zhaopian {width: 640px; height: 360px; overflow: hidden; position: relative; float: right;}
.chansi1 #zhaopian ul { height: 360px; position: absolute;}
.chansi1 #zhaopian ul li {float: left; width: 550px; height: 360px; overflow: hidden; position: relative; padding-right: 45px; padding-left: 45px; background-color: #9B7C5E;}
.chansi1 #zhaopian ul li div {position:absolute; overflow:hidden;}
.chansi1 #zhaopian .btnBg { position: absolute; width: 550px; height: 20px; left: 0; bottom: 0; background: #000; display: none;}
.chansi1 #zhaopian .btn { position: absolute; width: 530px; height: 10px; padding: 5px 10px; right: 0; bottom: 0; text-align: right; display: none;}
.chansi1 #zhaopian .btn span {display:inline-block; _display:inline; _zoom:1; width:25px; height:10px; _font-size:0; margin-left:5px; cursor:pointer; background:#fff;}
.chansi1 #zhaopian .btn span.on {background:#fff;}
.chansi1 #zhaopian .preNext { width: 45px; height: 360px; position: absolute; cursor: pointer; background-image: url(images/sprite.png); background-repeat: no-repeat;}
.chansi1 #zhaopian .pre { left: 0px; background-position: left 120px; }
.chansi1 #zhaopian .next { right: 0px; background-position: right 120px;}
.chansi2 { height: 488px;}
.chansi2 .daoshi { padding-bottom: 10px; }
.chansi2 .daoshi ul { padding-left: 30px;padding-top: 15px; padding-bottom: 10px;}
.chansi2 .daoshi ul li { float: left; padding-right: 25px; display: block; width: 280px; }
.chansi2 .daoshi ul li a {}
.chansi2 .daoshi ul li a img { display: block; height: 392px; width: 280px;}
.chansi2 .daoshi ul li a strong { text-align: center; font-size: 18px; line-height: 32px; display: block;}
.chansi2 .daoshi ul li p { font-size: 14px; line-height: 24px; text-indent: 2em;}
.chansi3 { height: 256px;}
.chansi3 .guiyue {
	float: left;
	width: 473px;
	height: 255px;
}
.chansi3 .fashi {
	float: right;
	width: 473px;
	height: 255px;
}
.chansi4 { height: 256px;}
.chansi4 .shiji {
	float: left;
	width: 473px;
	height: 255px;
}
.chansi4 .nongchan {
	float: right;
	width: 473px;
	height: 255px;
}

/*洗心资讯*/
.zixun1 {
	height: 400px;
}
.zixun1 .guanhuai {
	height: 388px;
}

.zixun2 {
	height: 350px;
}
.zixun2 .fawuhuodong {
	float: left;
	width: 473px;
	height: 348px;
}
.zixun2 .daofengdaozhan {
	float: right;
	width: 473px;
	height: 348px;
}

/*洗心基金*/
.jijin1 {
	height: 320px;
}
.jijin1 .chengyuan {
	float: right;
	width: 698px;
	height: 318px;
}
.jijin1 .jieshao {
	float: left;
	width: 248px;
	height: 318px;
}
.jijin2 {
	height: 386px;
}
.jijin2 .gongdefangming {
	float: left;
	width: 248px;
	height: 384px;
}
.jijin2 .huodonglueying {
	float: right;
	width: 698px;
	height: 384px;
}
.jijin3 {
	height: 384px;
}
.jijin3 .module {
	float: left;
	height: 384px;
	width: 310px;
	margin-right: 10px;
}
.jijin3 .mujuan {margin-right: 0px;}



/*洗心建设*/
.jianshe1 {
	height: 350px;
}
.jianshe1 .jianshe{
	float: left;
	width: 473px;
	height: 348px;
}
.jianshe1 .gongcheng{
	float: right;
	width: 473px;
	height: 348px;
}
	
	
.jianshe2 {
	height: 402px;
}
.jianshe2 .tuji{
	height: 400px;
}


/*洗心义工*/
.yigong1 {
	height: 386px;
}
.yigong1 .zuzhi {
	float: left;
	width: 248px;
	font-size: 16px;
	height: 382px;
}
.yigong1 .zuzhi ul {
}
.yigong1 .zuzhi ul li {
	display: block;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #9C7D5A;
	border-bottom-color: #9C7D5A;
	height: 44px;
	padding-top: 8px;
	padding-right: 3px;
	padding-left: 3px;
}
.yigong1 .zuzhiul li a {
	display: block;
}
.yigong1 .zuzhi strong {
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}
.yigong1 .zuzhi em {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}

.yigong1 .lueying {
	float: right;
	width: 698px;
	height: 382px;
}
.yigong2 {
	height: 386px;
}
.yigong2 .fengcai {
	float: left;
	width: 473px;
	height: 385px;
}
.yigong2 .xinde {
	float: right;
	width: 473px;
	height: 385px;
}


/*洗心佛事*/
.foshi1 {
	height: 35px;
}
.foshi1 .nianbiao {
	float: left;
	width: 473px;
}
.foshi1 .guiyi {
	float: right;
	width: 473px;
}
.foshi2 {
	height: 350px;
}
.foshi2 .module{
	width: 310px;
	float: left;
	margin-right: 10px;
	height: 348px;
}
.foshi2 .gongde {
	margin-right: 0px;
}
.foshi2 .hongfa {
	float: right;
	width: 311px;
}
.foshi3 {
	height: 340px;
}
.foshi3 .module {
	float: left;
	margin-right: 10px;
	width: 338px;
	height: 338px;
}
.foshi3 .nianfotang {
}
.foshi3 .shaoxiang {
}
.foshi3 ul.mingdeng {
	}
.foshi3 ul.mingdeng li {
	display: block;
	float: left;
}
.foshi3 ul.mingdeng li a {
	background-image: url(images/deng.gif);
	display: block;
	height: 35px;
	width: 67px;
	padding-top: 40px;
	background-repeat: no-repeat;
	background-position: center 8px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	background-color: #FFF;
	color: #9B7C5E;
}
.foshi3 ul.mingdeng li a:hover {
	color: #881A1A;
}
.foshi3 .yinyue {
	margin-right: 0px; width: 258px;
	}
/*联系寺院*/
.lianxi1 {}
.lianxi1 h2 {
	font-size: 28px;
	line-height: 60px;
	text-align: center;
	height: 60px;
}
.lianxi1 .content {
	padding-top: 20px;
	padding-right: 100px;
	padding-bottom: 20px;
	padding-left: 100px;
	font-size: 16px;
	line-height: 32px;
}
.lianxi1 .content strong {
	font-weight: bold;
}
.lianxi1 #dituContent {
	margin-right: auto;
	margin-left: auto;
}
