@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers http://teai.org/id/203.html */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
 
/* common class http://teai.org/id/203.html */
.clear { clear: both;}
.float-no {zoom: 1; }
.float-no:after {content: "\20"; display: block; height: 0; clear: both; visibility: hidden; }
.left { float: left; }
.right { float: right; }
.w960 { width: 960px;}
.w710 { width: 710px;}
.w240 {width: 240px;}
.mb10 {margin-bottom: 10px;}
/* hr img */
.tophr {
	background-image: url(images/hr.gif);
	background-repeat: repeat-x;
	background-position: center 6px;
	padding-top: 20px;
}
.zwimg {
	background-image: url(images/jianshezhong.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
/*home*/

body {
	font-family: "Microsoft YaHei"  ! important;
	background-color: #faf3e4;
	background-image: url(images/bg.jpg);
	color: #683D39;
	position: relative;
	background-repeat: repeat-x;
}
a {
	color: #571504;
	text-decoration: none;
}
a:hover {
	color: #630;
}
.container {
	width: 960px;/*自动居中*/
	background-color: #fff;
	margin-right: auto;
	margin-left: auto;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}



/*header*/
#header {
}

.user {
	font-size: 12px;
	line-height: 20px;
	height: 20px;
	text-align: right;
}
.user a {
	color: #630;
}

#header #logo {
	display: block;
	height: 52px;
	width: 180px;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
#header #logo a {
	background-image: url(images/logo.jpg);
	background-position: center top;
	height: 52px;
	width: 180px;
	display: block;
	text-indent: -999px;
	background-repeat: no-repeat;
}
/*menu*/
.nav {
	width: 960px;
	margin-bottom: 5px;
	background-color: #7C5139;
}
#jsddm ,#jsddm li ,#jsddm li a ,#jsddm li a:hover ,#jsddm li ul ,#jsddm li ul li ,#jsddm li ul li a ,#jsddm li ul li a:hover {z-index: 100;}
#jsddm
{
	margin: 0;
	padding: 0;
	height: 48px;
	width: 100%;
	background-image: url(images/menu.png);
	background-repeat: repeat-x;
	background-position: center;
	
}

	#jsddm li
	{
	float: left;
	list-style: none;
	font-family: Tahoma, Arial;
	font-size: 14px;
	font-weight: bold;
}

	#jsddm li a
	{
	display: block;
	text-decoration: none;
	width: 72px;
	color: #EAFFED;
	white-space: nowrap;
	padding-right: 12px;
	padding-left: 12px;
	line-height: 48px;
	height: 48px;
	text-align: center;
}

	#jsddm li a:hover, li.hover a
	{
	background-color: #3D2325;
	background-image: url(images/menu_hover.png);
	background-position: center center;
}
		
		#jsddm li ul
		{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: white;
	border-bottom-color: #FFF;
}
		
			#jsddm li ul li
			{
	float: none;
	display: inline;
	font-size: 12px;
	font-weight: normal;
}
			
			#jsddm li ul li a
			{
	color: #FFFFFF;
	background-color: #987D5F;
	line-height: 28px;
	height: 28px;
	width: 100px;
	background-image: url(images/menu.png);
	background-repeat: repeat;
	background-position: center center;
}
			
			#jsddm li ul li a:hover
			{
	background-color: #73483C;
}



/*tip*/
.tip {
	color: #660000;
	height: 30px;
	width: 960px;
	background-color: #FAEEE0;
	display: block;
	font-size: 12px;
	line-height: 30px;
	margin: 0px;
	z-index: 99999;
} 
.tip_scroll .tip {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	z-index: 99999;
	background-color: #FFF;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C77C14;
	left: 20px;
	right: 20px;
	padding-top: 6px;
}
	.tip_scroll{
	position: fixed;
	width: 100%;
	margin: 0;
	left: 0;
	top: 0;
	height: 30px;
	z-index: 99999;
	}
    .tip_scroll{position:fixed;width:100%;margin:0;left:0;top:0;}
    .tip:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
marquee {
	width: 785px;
	float: left;
	font-size: 16px;
}
.tip a {
	color: #660000;
	text-decoration: none;
}
#search {
	float: right;
	background-color: #FBEFE1;
	height: 26px;
	width: 140px;
	padding-top: 4px;
	padding-right: 5px;
	padding-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	display: block;
}
#search .text {
	background-color: #FFFFFF;
	display: block;
	float: left;
	height: 22px;
	width: 90px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 12px;
	line-height: 22px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#search .submit {
	display: block;
	height: 22px;
	width: 40px;
	background-color: #99432B;
	font-size: 14px;
	color: #FFF;
	cursor: pointer;
	float: right;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
}





.links {
	height: 130px;	background-image: url(images/links.jpg);
	background-repeat: no-repeat;
	background-position: left center;
}
.links ul {
	font-size: 12px;
	line-height: 26px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 125px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;}
.links ul li {
	float: left;
	display: block;
	height: 26px;
	width: 100px;
	overflow: hidden;
}
.links ul li a {
	color: #5A3622;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

/*catnav*/
.catnav {
	font-size: 12px;
	line-height: 30px;
}
.catnav strong {
	font-weight: bold;
}
.catnav a {}
/* footer */
.footer {
	font-size: 12px;
	
}
.footer .copyright {
	background-image: url(images/footer_bg.png);
	background-position: center bottom;
	padding-bottom: 46px;
	background-repeat: repeat-x;
	padding-top: 10px;
}
.footer p {
	text-align: center;
	line-height: 22px;
	color: #630;
}
.footer a {
	color: #630;
}



/*下级通用页面*/
/*文章页面*/
.article { padding-bottom: 20px;}
.urlnav { font-size: 12px; line-height: 25px; height: 25px; border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #F3EBE0;}
.article h2 { font-size: 26px; font-weight: bold; color: #000; text-align: center; font-family: "黑体"; line-height: 32px; padding-top: 12px; padding-bottom: 12px;}
.article .info  { font-size: 12px; padding-bottom: 10px; color: #333; text-align: center;}
.article .info small {}
.article .post { color: #000; line-height: 26px; padding-right: 100px; padding-left: 100px; font-size: 18px; font-family: "宋体"; } 
.article .post p { padding-bottom: 12px; }
.article .post img { text-align: center; margin-right: auto; margin-left: auto; border: 5px solid #FFFBF4; display: block;}


/*列表页面*/
#pagelist {}
#pagelist #content { border: 1px solid #9B7C5E;}
#pagelist #content h3 { height: 35px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #9B7C5E;}
#pagelist #content h3 strong {border-bottom-width: 3px;border-bottom-style: solid; border-bottom-color: #9B7C5E;font-size: 18px; line-height: 32px; float: left; padding-right: 10px;padding-left: 10px; font-weight: bold;}
#pagelist #content h3 em { font-size: 12px; font-style: normal; float: right; line-height: 19px; height: 19px; padding-top: 8px; padding-right: 10px; padding-bottom: 8px; font-weight: normal;}
#pagelist #content h3 em a {}
#pagelist #content ul.article { padding-top: 10px; padding-right: 15px; padding-bottom: 5px; padding-left: 15px;}
#pagelist #content ul.article li { font-size: 14px; line-height: 25px;}
#pagelist #content ul.article li span {float: right;}
#pagelist #content ul.article li em { font-size: 20px; color: #5A3622;}
#pagelist #content ul.article hr {display: block; height: 1px; width: 99%; background-color: #FFF; margin-right: auto; margin-left: auto; list-style-type: none; border: 1px dashed #FAEEE0;}
#pagelist #content ol { padding-right: 20px; padding-bottom: 10px; padding-left: 20px; height: 20px; font-size: 12px; line-height: 20px;}
#pagelist #content ol li { float: left; margin-right: 5px;}
#pagelist #content ol li a { padding-right: 5px; padding-left: 5px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #CCC; color: #666;padding-top: 2px; padding-bottom: 2px;}
#pagelist #content ol li a:hover, #pagelist #content ol li.thisclass a { padding-right: 5px; padding-left: 5px; border-bottom-width: 0px; border-bottom-style: solid; border-bottom-color: #C77C14; padding-top: 2px; padding-bottom: 2px; color: #C77C14;}
#pagelist #content ol li span { margin-left: 20px;}
#pagelist #content ol li strong {}
#pagelist #sidebar {}

/*搜索页面*/
.place {padding-top: 10px; padding-bottom: 10px;} 
.e2 {}
.e2 li { border-bottom-width: 1px; border-bottom-style: dashed; border-bottom-color: #7A4F37; padding-bottom: 10px; padding-top: 10px;}
.e2 li a { font-size: 14px;}
.e2 li p.intro {}
.e2 li span { font-size: 12px;}



/*视频内容*/
#videocontent {
	height: 425px;

}
#videocontent .videotitle {
	font-size: 16px;
	line-height: 32px;
	text-indent: 26px;
	background-image: url(images/videoico.gif);
	background-repeat: no-repeat;
	background-position: 6px center;
	font-weight: bold;
	height: 32px;
}
/*最新视频*/
#videocontent .zxsp {
	width: 248px;
	height: 396px;
}

#videocontent .zxsp .zxspbox {
	width: 247px;
	height: 357px;
	overflow: auto;
}
#videocontent .videomovie {
	height: 396px;
	width: 700px;
}
/*相关视频*/
.xgsp {
	height: 178px;
}
.xgsp .tw475 {
	padding-left: 20px;
	padding-bottom: 10px;
}

.shipin .tw232 a,.zxsp .tw232 a, .xgsp .tw475 a {
	position: relative;
}
.zxsp .tw232 strong {
	height: 22px;
	width: 100px;
	overflow: hidden;
}
.shipin .tw232 em,.zxsp .tw232 em {
	position: absolute;
	left: 24px;
	background-image: url(images/video.png);
	background-position: center center;
	height: 50px;
	width: 50px;
	z-index: 5;
	top: 6px;
}
.xgsp .tw475 strong {	height: 28px;
	width: 130px;
	overflow: hidden;}
.xgsp .tw475 em {
	position: absolute;
	left: 36px;
	background-image: url(images/video.png);
	background-position: center center;
	height: 50px;
	width: 50px;
	z-index: 5;
	top: 18px;
}
